body,
header,
nav,
main,
footer,
h1,
div,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #D2691E;
    font-display: #0e0e0eeb;
}

img {
    max-width: 100%;
    display: block;
}
#bannertitle{
    background-color: #FFDB58;
    font-size: 80px;
    text-align: center;
}

header {
    float: left;
    width: 25%;
}

nav {
    float: right;
    width: 70%;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 1.75em;
}

nav li a {
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: solid;
    color: rgb(3, 42, 160);
}

#Bannerimage {
    margin: 0 auto 0 auto;
    width:200px;
    height:200px;
}

#banner {
    margin: 0 auto 0 auto;
    width:250px;
    height:250px;
}

#metaledgedscale {
    margin: 0 auto 0 auto;
    width: 500px;
    height: 150px;
}
main {
    clear: left;
    padding: 2%;
    font-size: 1.25em;
    background-color: #FFFACD;
    text-align: center;
}

footer div {
    font-size: 0.75em;
    padding: 0 1em;
    text-align: center;
    color: #0a0a09;
}

footer div a {
    color: #0e0e0d;
    text-decoration: none;
}
